@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src:
    local("Poppins-Regular"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src:
    local("Poppins-Bold"),
    url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  src:
    local("Poppins-Light"),
    url("./assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
}
